html, body {
  height: 100%;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: #fffcf7;
  color: #292929; }
  html *, body * {
    box-sizing: border-box; }

.o-btn {
  background-color: #FFF;
  border: 1px solid #BABABA;
  box-shadow: none;
  height: 2rem;
  padding: 0 .5rem;
  border-radius: 3px;
  cursor: pointer; }

.o-page {
  width: 100vw;
  height: 100vh; }

.o-page--grid {
  display: grid;
  grid: [row1-start] "header-corner header header" 50px [row1-end] [row2-start] "sidebar body body" 1fr [row2-end] [row3-start] "footer footer footer" 50px [row3-end]/250px 1fr 1fr; }

.o-page--grid__header-corner {
  grid-area: header-corner;
  background-color: #5B5D66; }

.o-page--grid__header {
  grid-area: header;
  background-color: #B3ABA8; }

.o-page--grid__sidebar {
  grid-area: sidebar;
  background-color: #6B6E80; }

.o-page--grid__body {
  grid-area: body;
  padding: 1rem; }

.o-page--grid__footer {
  grid-area: footer;
  align-self: center;
  justify-self: center; }

.card-container > .card + .card {
  margin-left: 20px; }

.c-card {
  display: inline-block;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.c-card--sm {
  height: 150px;
  width: 100px; }

.c-card--md {
  height: 250px;
  width: 200px; }

.c-card--lg {
  height: 350px;
  width: 300px; }

.c-card--lg__header {
  height: 50px;
  text-align: center;
  padding: .3rem .3rem 0;
  font-size: 1.1rem; }

.c-card--lg__body {
  height: 250px;
  padding: .3rem; }

.c-card--lg__footer {
  height: 50px;
  padding: 0 .3rem .3rem;
  font-size: 0.8rem;
  text-align: end;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end; }

.u-elevation-1 {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12); }

.u-elevation-2 {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 2px 4px -1px rgba(0, 0, 0, 0.12); }

.u-elevation-3 {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.2), 0 5px 5px -3px rgba(0, 0, 0, 0.12); }

.u-elevation-4 {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.2), 0 8px 10px -5px rgba(0, 0, 0, 0.12); }

.u-no-border {
  border: none; }

@media screen and (max-width: 740px) {
  .u-undisplayed\@md {
    display: none; } }
