@import "./colors";

$primary-bg-color: $blue-beta !default;
$secondary-bg-color: $blue-zeta !default;
$terciary-bg-color: $blue-alpha !default;

$primary-color: $black-alpha !default;

$primary-font-family: 'Lato', sans-serif;